@media screen and (max-width: 900px) {
  * {
    font-size: 12px;
    line-height: 15px;
  }

  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .App {
    flex-direction: column;
  }

  .iconsReset {
    height: 12px;
  }

  .searchContainer {
    height: auto;
    flex-flow: row wrap;
    padding: 0px;
    width: 100%;
  }

  .headerPage {
    display: flex;
    flex-flow: column wrap;
  }

  .pageFilters {
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
  }

  .dateFilters {
    justify-content: center;
  }

  .inputDate {
    margin: 5px;
    padding: 5px 5px;
  }

  .selectionFilters {
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px 0px;
  }

  select {
    width: auto;
  }

  .resetFilters {
    margin: 5px;
    width: 25%;
  }

  .hotelResults {
    height: 60%;
    width: 100%;
  }

  .hotelContainer {
    margin: 10px 5px;
    width: 70%;
  }

  .priceOn {
    height: 12px;
  }

  .priceOff {
    height: 12px;
    opacity: 0.4;
  }
}
